body{
	margin: 0px,
	padding: 0px,;
}

.craie{
	color: black;
	font-family: DJB Chalk It Up;
}

.header{
	margin: 0px;
	background-color: #292929;
	width: 100%;
	height: 7cm; 
}

.titre{
	width: 100px;
	height: 300px;
}