*{
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: Chalk;
	src: url('fonts/DJB Chalk It Up.ttf');
}

@font-face {
	font-family: Marker;
	src: url('fonts/Marker SD.ttf');
}

body {
	margin: 0;
}

mark{
	background-color: rgba(0, 0, 0, 0);
	color: yellow;
	font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

h3 {
	font-size: 50px;
	font-weight: bold;
}

h4 {
	margin-top: 10px;
	font-size: 38px;
	font-weight: bold;
}

.header{
	margin: 0px;
	background-color: #292929;
	background-size: 100% 7cm;
	width: 100%;
	height: 7cm;
	text-align: center;
}

.titre{
	width: 100px;
	height: 300px;
}

.corps-background {
	background-image: url('img/Background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.corps {
	margin-right: 15%;
	margin-left: 15%;
}

.accueil-background {
	background: rgba(48,99,61,0.75);
}

.accueil {
	margin-left: 1%;
	margin-right: 1%;
	font-family: Chalk;
	color: white;
	font-size: 30px;
}

.activites-background {
	background: rgba(181,188,183,0.75);
}

.activites {
	margin-left: 1%;
	margin-right: 1%;
	font-family: Marker;
	font-size: 32px;
	color: rgb(8, 10, 100);
}

.membres-background {
	background: rgba(255,255,255,0.75);
}

.membres {
	margin-left: 1%;
	margin-right: 1%;
	font-family: Times New Roman;
	font-size: 35px;
}

.membres {
	margin: 0%;
	font-family: Times New Roman;
	font-size: 25px;
}

.footer{
	margin: 0px;
	background-color: #292929;
	background-size: 100% 7cm;
	width: 100%;
	height: 7.25cm; 
}

.vale075 {
	background: rgba(235, 235, 235, 0.75)
}

.PieroLB {
	background: rgba(235, 235, 235, 0.75)
}

.LGdu92 {
	background: rgba(235, 235, 235, 0.75)
}




/* Caractéristiques du boutton "Activités" (=.dropdown .dropbtn) */
.dropdown .dropbtn {
	font-size: 40px; /*taille du texte*/ 
	border: none; /*pemret d'enlever les bordures*/
	outline: none; /*permet d'enlever les contours au bouton.*/
	color: white; /*=couleur du texte en blanc*/
	padding: 14px 16px; /*taille du boutton*/
	background-color: inherit; /*arrière plan hérite de l'arrière plan du header*/
	margin: 0; /* Indispensable pour qsue se soit aligner sur téléphone */
}

.dropdown .dropbtn a:hover {
	background-color: rgba(255,255,255,0.2);
}

/* Ajoute un arrière plan blanc (avec une opacité de 0.2) lorsque le curseur passe devant Activité (=dropdown .dropbtn)*/
.navbar a:hover, .dropdown:hover .dropbtn {
  /*background-color: rgba(255,255,255,0.2);*/
}

/*  */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #292929;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Caractéristiques des sous menus (=dropdown-content) */
.dropdown-content a {
	float: none; /**/
	color: white; /*=couleur du texte en blanc*/
	padding: 12px 16px; /*taille de de chaque sous menu*/
	text-decoration: none; /*permet d'enlever le surlignage en dessous des sous menus*/
	display: block; /*permet de definir des blocs l'un en dessous des autres pour chaque sous menus */
	text-align: left; /*permet d'aligner le texte des sous menus à gauche*/
}

/* Ajoute un arrière plan blanc (avec une opacité de 0.2) lorsque le curseur passe devant les sous menus (=dropdown-content) */
.dropdown-content a:hover {
	background-color: rgba(255,255,255,0.2);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}
